* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  font-family: "Poppins", sans-serif;
}
.todo-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 12px 25px;
  background-color: rgb(224, 230, 230);
  width: 100%;
  min-height: 895px;
  box-shadow: 8px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}
.title {
  margin-top: 30px;
  margin-bottom: 20px;
  font-weight: 600;
  font-size: 50px;
  line-height: 70px;
  color: #99c1a9;
}
input {
  padding: 8px 24px;
  width: 220px;
  height: 50px;
  background: #ffffff;
  box-shadow: 8px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  border: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: #99c1a9;
}
::placeholder {
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: #99c1a9;
}
button {
  width: 112px;
  height: 50px;
  margin-left: 20px;
  background: #99c1a9;
  border-radius: 10px;
  border: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #fbfbfb;
  cursor: pointer;
}
button:hover {
  opacity: 0.7;
}
button :active {
  opacity: 0.3;
}
